*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



body{
    font-family:  'Segoe UI', sans-serif;
}

.nav_bar{
    position: sticky;
    top: 0;
    background-color: white;
}
.nav-container{
    display: flex;
    align-items: baseline;
    padding: 1.2rem 2rem;
}

/* .nav_bar{
    background-color: aqua  ;
} */

.logo{
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 700;
}

.btn:hover, .icon:hover{
    cursor: pointer;
    opacity: 0.85;
}

.call_us:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.nav_menu{
    display: flex;
    gap: 2rem;  

}

.nav_menu a{
    color: #302d2d;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.nav_menu a:hover{
    background-color: #faf9f9;
}

.book{
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
}

.intro_container{
    margin: 3rem;
    display: flex;
    flex-direction: column;

}

.text_img{
    display: flex;
}

.h2_text{
    margin-right: auto;
    font-size: 3rem;
}

/* .intro_img_span {
    padding-right: 22rem;
    display: flex;
    align-items: baseline;
    
}

.intro_img{
    width: 10.3rem;
    height: 10rem;
    border-radius: 50%;
    padding-right: 22rem;
    display: flex;
    align-items: baseline;
} */

.logo_img{
    height: 10rem;
    width: 10.3rem;
    border-radius: 50%;
    margin-right: auto;
}

.img_profile_btn{
    display: flex;
    margin-top: 2.5rem;
    
}

.intro_btns{
    
    margin-top: 5rem;
    
    
}

.intro_main_img{
    width: 30rem;
    border-radius: 1rem;
    margin-right: auto;
}

.intro_text{
    font-size: 1rem;
    margin-right: 22rem;
}

.image{
    width: 3rem;
    border-radius: 50%;
    margin-left: -1rem;
    border: 2px solid white;
   
}

.add_icon{
    padding: 0.2rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: black;
}

.icon{
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -1rem;
    border: 2px solid white;
}
.img_container{
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
}
.button-style{
    margin: 1rem;
    width: 10rem;
    color: green;
    background-color: transparent; 
    border:0.1rem solid green;
}


.spl_val{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    width: 150vh;
    font-size: .7rem;
    color: rgb(125, 124, 124);
}
.text_span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #242424;
}


.service_container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1.2rem 3rem;
    background-color: #faf9f9;
}

.text_slidebtn{
    display: flex;
    align-items: baseline;
    
}

.service_line{
    margin-right: auto;
    color: #7d7c7c;
    font-size: .7rem;
}

.sld_btn1, .sld_btn2{
    background-color: #eeb52f;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 1.5px solid #eeb52f;
    font-size: 1.5rem;
    color:rgb(125, 124, 124);
    border: none;
    border-radius: 50%;
}

.sld_btn1:hover, .sld_btn2:hover{
    border: 1.5px solid #eeb52f;
    background-color: transparent;
}


.slide_services{
    display: flex;
    
}


.slide_box{
    background-color: transparent;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 0.4rem 1rem 1rem 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    box-shadow: 1px 2px 10px rgb(226, 225, 225);
}
.slide_box a{
     text-decoration: underline; 
     font-size: .7rem; 
     color: green;
}

.slide_box:hover{
    color: white;
    background-color: rgba(48, 37, 37, 0.781);
    transition: background-color 0.4s ease;
}
.slide_box:hover a{
    color:#eeb52f
}
.slide_box_transparent{
    background-color: transparent;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 0.4rem 1rem 1rem 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    box-shadow: 1px 2px 10px rgb(226, 225, 225);
}

.slide_icon{
    color: green;
    background-color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: .5rem;
}

.slide_title{
    margin-top: .5rem;
    font-size:1rem;
 
}

.slide_para{
    font-size:0.63rem;
    padding-top: .3rem;
    margin-bottom: 0.3rem;
}




.about_para_style{
     background-color: transparent;
    border: 2px solid #faf9f9;
    padding: 0.7rem 1rem 1rem 0.8rem;
    border-radius: 0.5rem;
}

.about_para_style:hover{
    background-color: #faf9f9;
    border: 2px solid #faf9f9;
    box-shadow: 1px 1px 20px rgb(223, 222, 222);
    padding: 0.7rem 1rem 1rem 0.8rem;
    border-radius: 0.5rem;
}


/* style="display: flex; flex-direction: column; gap:1rem; margin-left: 10rem; margin-top: 0.9rem;" */
.about_para_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 15rem;
    margin-top: 0.9rem;
}

.feature_container{
    display: flex;
    flex-direction: column;
    
    padding: 1.2rem 3rem;
    background-color: #faf9f9;
}

.feature_btn{
    display: flex;
    
}

.customer_rev_slide{
    background-color: #faf9f9;
    border: 1px solid white;
    border-radius: .5rem;
    padding:  1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    box-shadow: 1px 2px 10px rgb(226, 225, 225);
}

.blog_slide{
     background-color: #faf9f9;
    border: 1px solid white;
    border-radius: .5rem;
    padding:  1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    box-shadow: 1px 2px 10px #e2e1e1;
}

.blog_slide:hover{
     cursor: pointer;
     box-shadow: 1px 2px 10px #bebcbc;
}

#email{
    padding: 10px;
    border-radius: 1.2rem;
    width: 15rem;
    border: none;
    box-shadow: 1px 1px 10px #7d7c7c;
}

/* style="width:6rem; font-size: 0.7rem; background-color: #eeb52f; color: black; margin-left: 8rem; margin-top: -10rem;" */
.sub_btn{
         
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    width:6rem; 
    font-size: 0.7rem;
    background-color: #eeb52f; 
    color: black;
    position:absolute;
    margin-left: -6.2rem;
    margin-top: 0.24rem;
}

.footer_text{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.social_details{
    display: flex;
    flex-direction: column;
}

.icon_container{
    display: flex;
}

.social_icon{
    color: black;
    background-color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: .5rem;
    margin-left: 0.2rem ;
}

.footer_navigation{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_para_style{
    font-size: 0.65rem; 
    color:#faf9f9;
}


.footer_end{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* .icon{
    width: 48px;
    height: 48px;
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
} */

